:root{
    --back_nav:#1e202b;
}

body{
    margin: 0;
    top: 0;
    background-color: #1e202b;
}
.navbar{
    background-color: var(--back_nav);
   
    --bs-navbar-brand-color: rgb(255, 255, 255);
    --bs-navbar-brand-hover-color: rgb(255, 255, 255);
}


nav .navbar-brand p{
    font-size: 10px;
}
.navbar ul{
    --bs-navbar-color: rgb(255, 255, 255);
    --bs-navbar-active-color:  rgb(255, 255, 255);
    --bs-navbar-hover-color:  rgb(255, 255, 255)
}
.navbar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar-nav .nav-item .active{
    border: 2px solid #365486;
    color: #365486; 
}
.navbar-nav .nav-item{
    margin-right: 20px;
}
.navbar-nav .nav-item a {
    color: white;
    font-weight: 400;
    padding: 5px 25px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
}
.navbar-nav .nav-item  a:hover{
    border: 2px solid #365486;
    color: #365486; 
}
.search-iconn{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 50vh;
}
.search input{
    background-color: var(--back_nav);
    border: 1px solid var(--back_nav);
    outline: none;
}
.search button{
    top: 54px;
    right: 54px;
    background-color: #009ad8;
    color: white;
    outline: none;
    padding: 10px 20px 10px 20px;
    border: 1px solid #009ad8;
}
.box-container{
    background: #323544;
   
}
.forest{
    position: relative;
 
    left: 50%;
    transform: translate(-50%,-10%);
   z-index: 9999;
}

.today{
    background-color: var(--back_nav);
    border-radius: 10px 0px 0px 10px ;
    color: rgba(255, 255, 255, 0.75);
}
.whatday{
    background: rgba(0, 0, 0, 0.1);
    color: #bfc1c8;
    border-radius: 10px 0px 0px 0px ;
    width: 100%;
    overflow: hidden;
}
.tomorrow{
    background-color: #262936;
    
    color: rgba(255, 255, 255, 0.75);
}
.tommday{
    background: rgba(0, 0, 0, 0.1);
    color: #bfc1c8;
   
    width: 100%;
    overflow: hidden;
}
.today .cityName{
    color: #bfc1c8;
}
.Degreetommmin{
    color: #bfc1c8;
}
.degreeDes{
    color: rgb(54, 54, 255);
}
.dayafter{
    background-color: var(--back_nav);
    border-radius: 0px 10px 10px 0px ;
    color: rgba(255, 255, 255, 0.75);
}
.degree h3{
    color: white;
}

.footer{
    background-color: #323544;
    
   
}
.email input{
    background-color: var(--back_nav);
    border: 1px solid var(--back_nav);
    outline: none;
}

.email button{
    top: 5px;
    right: 10px;
    background-color: #009ad8;
    color: white;
    outline: none;
    padding: 10px 20px 10px 20px;
    border: 1px solid #009ad8;
}
.content p{
    color: white;
}
.content2 span{
  background-color: var(--back_nav);
  color: #009ad8;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-left: 6px;
  cursor: pointer;
}
.content2 span:hover{
    background-color: #009ad8;
    color: white;
}
